.box{
    width: 20px;
    height: 20px;
    border: solid 1px black;
    transition: 0.12s;
    -webkit-animation: color-change 0.2s linear infinite alternate;
    -moz-animation: color-change 0.2s linear infinite alternate;
    animation: color-change 0.2s linear infinite alternate;

    }

.box:hover{
    background-color:lightgreen;
    }

.used{
    background-color: lightsalmon;
}

.gameGrid{
    margin-bottom:20px;
    margin-top:20px;
    display:flex;
    justify-content:center;
    background-image: linear-gradient(#4e8afa,rgb(147, 176, 238));
}

.buttonDiv{
    display: flex;
    justify-content: space-around;
}

.buttonStyle{
    border-radius: 5px;
    background-color: lightseagreen;
    color: white;
}